.header {
    background-color: blue;
}

.header h1 {
    color: white;
    padding: 25px;
    margin-left: 35px;
}

.container .box {
    background-color: green;
    width: 140px;
    height: 65px;
    border: 1px solid red;
    border-radius: 15px;
    opacity: .7;
    
}

.container .box h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}

.container {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin: 3rem 35rem;
}